@model readit.Models.ReplyModel

@foreach (var item in Model.Replies)
{
    <div class="border border-primary p-4 mb-4">
        @item.Description
    </div>
}
<form asp-action="Reply">
<textarea class="form-control mb-2" rows="2"></textarea>
    <div>
        <a asp-action="Index" class="btn btn-dark">Back</a>
        <a asp-action="Index" class="btn btn-primary">Reply</a>
    </div>
</form>