html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: wheat;
    margin-bottom: 60px;
    background-color: #1A1A1B;
}

a {
    color: white;
}

nav, footer {
    background-color: #2b2b2c;
}