@{
    ViewData["Title"] = "Accounts";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2">
    Here will be the list with all types of accounts (like patreon member, moderator) available for testing.
</div>