@{
    ViewData["Title"] = "Accounts";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div class="row" style="font-size: 30px;">
    <div class="col-4 ">
        <div class="border border-danger p-3">
            <b>Admin account:</b>
            <br /><br />
            Email: admin@admin.com
            <br />
            Password: Admin123!
        </div>
    </div>

    <div class="col-4">
        <div class="border border-primary p-3">
            <b>User account:</b>
            <br /><br />
            Email: user@user.com
            <br />
            Password: User123!
        </div>
    </div>



</div>

