@{
    ViewData["Title"] = "Accounts";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2">
    <b>Admin account:</b>
    <br /><br />
    Email: admin@admin.com
    <br />
    Password: Admin123!
    <br /><br />
    <b>User account:</b>
    <br /><br />
    Email: user@user.com
    <br />
    Password: User123!
</div>