@{
    ViewData["Title"] = "Accounts";
}
<h1>@ViewData["Title"]</h1>
<div class="main2">
    Here will be the list with all types of accounts (like premium member, moderator etc.) available for testing.
</div>