@{
    ViewData["Title"] = "Accounts";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div class="row" style="font-size: 20px;">
    <div class="col-4 ">
        <div class="border border-warning p-3">
            <b>Moderator account:</b>
            <br /><br />
            Email: moderator@moderator.com
            <br />
            Password: Moderator123!
        </div>
    </div>

    <div class="col-4">
        <div class="border border-primary p-3">
            <b>User account:</b>
            <br /><br />
            Email: user@user.com
            <br />
            Password: User123!
        </div>
    </div>
</div>

<div class="mt-4" style="font-size: 25px; color: lightgreen;">
    See <a asp-controller="Topic" asp-action="Details" asp-route-id="22" >colors</a> in action 
</div>
