@{
    ViewData["Title"] = "Development";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2">
   Currently the forum is in the early stage of development. My main personal goal for now is to make it working.
   That means being able for users to log in and create post and making replies. At the moment you can do that, but
   the comments or topics are not assigned to a particular account. So I will focus now on implementing asp.net Identiy and hosting it on Azure.
   <br /><br />
   The next thing will be adding some basic features like reputation, user profiles with avatars and their 
   personal descriptions, quoting, reporting, adding to friends and chatting. I would also love to add unique post boarders for patreons and deserved members. 
</div>