@{
    ViewData["Title"] = "Features";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div style="font-size: 25px;" class="mb-4">
Check out  <a asp-controller="Topic"  asp-action="Details" asp-route-id="12">admin's blog</a>
</div>
<div class="main2">
    <div class="border border-danger p-4 mt-4">
    <p>1. Basic CRUD - adding, editing, deleting forums and topics </p>
    <p>2. Adding replies</p>
    <p>3. Showing topics/replies for specifing forum/topic </p>
    <p>4. <a href="https://github.com/CodeSeven/toastr" target="_blank">Toastr</a> smooth alert after CRUD operations </p>
    <p>5. Searching forums</p>
    <p>6. Logging and registering with asp.net Identity</p>
    <p>7. Javascript confirmation window when deleting [REMOVED]</p>
    <p>8. Checkbox alert validation</p>
    <p>9. Confrimation pop-up when replying</p>
    <p>10. Topics and replies are assigned to the user that posts them</p>
    <p>11. Shortened strings for the topic table if they have > 80 char length</p>
    <p>12. Logging and registering as user with specific role and possibilities</p>
    <p>13. Diffrent post colors (borders) for users! Admin: red User: blue</p>
    </div>
</div>