@{
    ViewData["Title"] = "Features";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2">
    <div class="border border-danger p-4 mt-4">
    <p>1. Basic CRUD - adding, editing, deleting forums and topics </p>
    <p>2. Adding replies</p>
    <p>3. Showing topics/replies for specifing forum/topic </p>
    <p>4. <a href="https://github.com/CodeSeven/toastr" target="_blank">Toastr</a> smooth alert after CRUD operations </p>
    <p>5. Searching forums</p>
    <p>6. Logging and registering with asp.net Identity</p>
    <p>7. Javascript confirmation window when deleting [REMOVED]</p>
    <p>8. Checkbox alert validation</p>
    <p>9. Confrimation pop-up when replying</p>
    </div>
</div>