@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-3">
    <h1 class="display-4">Welcome to readit!</h1>
</div>
<div class="main">
    Readit is a programming forum intended for all kinds of developers. <br />If you have programming-related question feel free to ask it there.     
    Before posting or replying make sure that you are familiar with the <br /><u><a asp-controller="Home" asp-action="Rules" target="_blank">rules</a></u> beacuse breaking them may end up with consequences.
</div>