@{
    ViewData["Title"] = "Review";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2 mb-4">
    This feature is not working yet!
</div>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Your email</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Message</label>
                <textarea class="form-control" rows="8"></textarea>
            </div>
            <div class="mt-2">
                <input type="submit" value="Send" class="btn btn-primary col-3" />
            </div>
        </form>
    </div>
</div>
