@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="main2">
    <b>readit</b> is meant for helping each other. Please treat others with respect.
    <br />Here are 5 rules that you agree to follow, when posting or replying on readit:

    <div class="border border-danger p-4 mt-4" style="width:50%;">
    <p>1. No advertising</p>
    <p>2. No spamming</p>
    <p>3. No trolling</p>
    <p>4. No racism, sexism, homophobia</p>
    <p>5. No offensive language</p>
    </div>
    <br />
    Please stay on topic, this is  <u>not</u> a political/religious forum!
</div>
