@model readit.Models.ForumModel

@{
    ViewData["Title"] = "New Topic";
}

<a asp-controller="Forum" asp-action="Details" asp-route-id="@Model.Id"><h1 class="bi bi-arrow-left-circle"></h1></a>

<h1>Create New Topic</h1>

<hr />

<partial name="_PartialTopic" model="null" />

