@model readit.Models.GeneralModel

<h3>Are you sure you want to delete following topic?</h3>
<br />
<h4>Title: @Html.DisplayFor(model => model.Name)</h4>
<br />

<partial name="_DeletePartialView" />

