@model ReplyModel

<form asp-controller="Reply" asp-action="Reply">
    <div class="col-6">
<textarea asp-for="Description" class="form-control mb-2 " rows="2" id="reply"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" class="inputId" asp-for="TopicModelId" class="form-control" value="@Context.Request.RouteValues["id"]" />
    </div>
    <div>
        <input type="submit" value="Reply" class="btn btn-primary" />
    </div>
</form>

<div class="col-6 p-4 mt-3 border border-danger" id="rules">
    Please make sure that you follow our community <a>rules</a>    
    <button id="rulesOk">OK!</button>
</div>

@*<script src="~/js/script.js"></script>*@
<script src="~/js/rules.js"></script>