@model readit.Models.TopicModel

@{
    ViewData["Title"] = "Topic";
}

<h1>Topic: @Html.DisplayFor(model => model.Name)</h1>

<div class="col-6">
    <br />
    <div class="border border-primary p-4 mb-4">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
@foreach (var item in Model.Replies)
{
    <div class="border border-primary p-4 mb-4">
        @item.Description
    </div>
}

<form asp-controller="Reply" asp-action="Reply">
<textarea class="form-control mb-2" rows="2"></textarea>
    <div>
        <a asp-controller="Reply" asp-action="Index" class="btn btn-dark">Back</a>
        <input type="submit" value="Reply" class="btn btn-primary" />
    </div>
</form>