@model readit.Models.TopicModel

@{
    ViewData["Title"] = "Details";
}

<h1>Title: @Html.DisplayFor(model => model.Name)</h1>

<div class="col-6">
    <br />
    <div class="border border-primary p-4 mb-4">
        @Html.DisplayFor(model => model.Description)
    </div>

<textarea class="form-control mb-2" rows="2"></textarea> @*// new controller answer*@
    <div>
        <a asp-action="Index" class="btn btn-dark">Back</a>
        <a asp-action="Details" class="btn btn-primary">Reply</a>
    </div>
</div>


@*<div>
    <a asp-action="Index" class="btn btn-dark">Back</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
    </div>
*@